<!-- ./views/index.handlebars -->
<div class="container mt-5">

  <!-- search bar -->
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/search">
        <div class="input-group mb-3">
          <input type="text" name="keyword" class="form-control" placeholder="Enter movie name to search..." aria-label="Movie Name..."
            aria-describedby="search-button" value="{{ keyword }}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- movie list -->
  <div class="row" id="data-panel">
    {{#each movies}}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/movies/{{this.id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="https://movie-list.alphacamp.io/posters/{{this.image}}" alt="Card image cap">
          <div class="card-body movie-item-body p-1 d-flex justify-content-center align-items-center" style="height: 50px;">
            <h6 class="card-title my-2 text-center" style="font-size: 0.8rem;">{{this.title}}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>